<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>分布</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <script src="./util.js"></script>
    <script src="./data/ibdCommitData.js"></script>
    <script src="./data/rtbCommitData.js"></script>
    <script>
        makeGrid(ibdCommitData, {
            size: 10,
            margin: 1,
            maxColor: '#0403d2',
            minColor: '#a4b0ed'
        });
        makeGrid(rtbCommitData, {
            size: 10,
            margin: 1,
            maxColor: '#a204a3',
            minColor: '#e7ade7'
        });
        makeGrid(analysisCommitData, {
            size: 10,
            margin: 1,
            maxColor: '#a204a3',
            minColor: '#e7ade7'
        });
        // 计算总天数
        function makeGrid(data, options, computeTag) {
            // computeTag->'commits','filesNum','lineNum'
            const colorLen = 100;
            const colors = util.color(options.minColor || '#b9e2b9', options.maxColor || '#007f00', colorLen);
            const startDate = util.time(2017, 0, 1);
            const days = (util.time(2018, 0, 1) - startDate) / (1000 * 60 * 60 * 24);
            const weeks = Math.ceil(days / 7);
            let startDay = (startDate.getDay() - 1 + 7) % 7;
            let drawData = {};
            let values = [];

            data.commits.forEach(function (item, index) {
                let date = item.date;
                let step = (new Date(date) - startDate) / (1000 * 60 * 60 * 24);
                let weekIndex = step / 7 << 0;
                let day = (new Date(date).getDay() - 1 + 7) % 7;
                const tag = weekIndex + '-' + day;
                if (!drawData[tag]) {
                    drawData[tag] = {
                        // 第几周
                        date,
                        commits: 1,
                        filesNum: item.filesNum,
                        lineNum: item.lineNum
                    };
                } else {
                    drawData[tag].filesNum += item.filesNum;
                    drawData[tag].lineNum += item.lineNum;
                    drawData[tag].commits++;
                }
            });
            for (let tag in drawData) {
                values.push(drawData[tag][computeTag ? computeTag : 'commits']);
            }
            let maxValue = Math.max.apply(this, values);
            let minValue = Math.min.apply(this, values);
            let border = util.element('div', {
                css: {
                    display: 'inline-block',
                    height: '100%'
                }
            }, util.element('div', {
                css: {
                    padding: '50px',
                    height: (options.size + options.margin * 2) * 8 + 'px'
                }
            }, document.body));
            for (let w = 0; w < weeks; w++) {
                let col = util.element('div', {
                    css: {
                        height: '100%',
                        float: 'left'
                    }
                }, border);
                for (let d = 0; d < 7; d++) {
                    let tag = w + '-' + d;
                    let color = 'white';
                    if (drawData[tag]) {
                        let value = drawData[tag][computeTag ? computeTag : 'commits'];
                        let index = (value - minValue) / (maxValue - minValue) * colorLen << 0;
                        color = colors[index];
                    }
                    let block = util.element('div', {
                        css: {
                            border: options.margin + 'px solid white',
                            width: options.size + 'px',
                            height: options.size + 'px',
                            cursor: drawData[tag] ? 'pointer' : '',
                            background: color
                        },
                        title: drawData[tag] && drawData[tag][computeTag || 'commits']
                    }, col);
                }
            }
        }
    </script>
</body>

</html>