<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>分布</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <script src="util.js"></script>
    <script src="canvas.js"></script>
    <script src="./data/ibdCommitData.js"></script>
    <script>

        grid(document.body, {
            date: '2017-01-01',
            data: ibdCommitData,
            colors: util.color('#0403d2', '#a4b0ed', 100)
        });
    </script>
</body>

</html>